<div class="card" style="border: 1px solid #000;">
  <div class="card-header" style="background-color: #f5f7fb; padding: 12px">
    <div class="col-xl-12 col-md-12 box-col-12 text-center">
      <h5>FUNCTIONALS</h5>
    </div>
  </div>
  <div class="card-body" style="padding: 4px;">
    <div class="row">
      <div class="u-steps row">
        <div class="u-step col-sm-3 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Name</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <th scope="col" style="padding: 1px;">#</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding: 1px;">ISSUE CARD</td>
                      </tr>
                      <tr>
                        <td style="padding: 1px;">E-STATEMENT</td>
                      </tr>
                      <tr>
                        <td style="padding: 1px;">REQUEST E-CONTRACT</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-step col-sm-3 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Daily</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <!-- <th scope="col" style="padding: 1px;"></th> -->
                        <th scope="col" style="padding: 1px;">Total_Cust</th>
                        <th scope="col" style="padding: 1px;">Success</th>
                        <th scope="col" style="padding: 1px;">Failure</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Daily</th> -->
                        <td style="padding: 1px;">100</td>
                        <td style="padding: 1px;">50</td>
                        <td style="padding: 1px;">50</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Week</th> -->
                        <td style="padding: 1px;">100</td>
                        <td style="padding: 1px;">50</td>
                        <td style="padding: 1px;">50</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Month</th> -->
                        <td style="padding: 1px;">100</td>
                        <td style="padding: 1px;">50</td>
                        <td style="padding: 1px;">50</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-step col-sm-3 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Week</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <!-- <th scope="col" style="padding: 1px;"></th> -->
                        <th scope="col" style="padding: 1px;">Total_Cust</th>
                        <th scope="col" style="padding: 1px;">Success</th>
                        <th scope="col" style="padding: 1px;">Failure</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Daily</th> -->
                        <td *ngIf="issueCardFunc.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="issueCardFunc.total !== 0" style="padding: 1px;">{{issueCardFunc.total}}</td>
                        <td style="padding: 1px;">50</td>
                        <td style="padding: 1px;">50</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Week</th> -->
                        <td style="padding: 1px;">100</td>
                        <td style="padding: 1px;">50</td>
                        <td style="padding: 1px;">50</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Month</th> -->
                        <td style="padding: 1px;">100</td>
                        <td style="padding: 1px;">50</td>
                        <td style="padding: 1px;">50</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-step col-sm-3 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Month</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <!-- <th scope="col" style="padding: 1px;"></th> -->
                        <th scope="col" style="padding: 1px;">Total</th>
                        <th scope="col" style="padding: 1px;">Success</th>
                        <th scope="col" style="padding: 1px;">Failure</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Daily</th> -->
                        <td style="padding: 1px;">100</td>
                        <td style="padding: 1px;">50</td>
                        <td style="padding: 1px;">50</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Week</th> -->
                        <td style="padding: 1px;">100</td>
                        <td style="padding: 1px;">50</td>
                        <td style="padding: 1px;">50</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Month</th> -->
                        <td style="padding: 1px;">100</td>
                        <td style="padding: 1px;">50</td>
                        <td style="padding: 1px;">50</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
