<div class="card" style="border: 1px solid #000;">
  <div class="card-header" style="background-color: #f5f7fb; padding: 12px">
    <div class="col-xl-12 col-md-12 box-col-12 text-center">
      <h5>FUNCTIONALS</h5>
    </div>
  </div>
  <div class="card-body" style="padding: 4px;">
    <div class="row">
      <div class="u-steps row">
        <div class="u-step col-sm-3 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Name</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <th scope="col" style="padding: 1px;">#</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="padding: 1px;">ISSUE CARD</td>
                      </tr>
                      <tr>
                        <td style="padding: 1px;">CREATE-SIGNATURE</td>
                      </tr>
                      <tr>
                        <td style="padding: 1px;">REQUEST E-CONTRACT</td>
                      </tr>
                      <tr>
                        <td style="padding: 1px;">REQUEST STATEMENT</td>
                      </tr>
                      <tr>
                        <td style="padding: 1px;">CASH WITHDRAWAL</td>
                      </tr>
                      <tr>
                        <td style="padding: 1px;">OPEN TD</td>
                      </tr>
                      <tr>
                        <td style="padding: 1px;">CLOSURE TD</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-step col-sm-3 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Today</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <!-- <th scope="col" style="padding: 1px;"></th> -->
                        <th scope="col" style="padding: 1px;">Total_Cust</th>
                        <th scope="col" style="padding: 1px;">Success</th>
                        <th scope="col" style="padding: 1px;">Failure</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Daily</th> -->
                        <td style="padding: 1px;">{{dataDaily?.issue_card_func?.total ? dataDaily?.issue_card_func?.total : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.issue_card_func?.success ? dataDaily?.issue_card_func?.success : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.issue_card_func?.fail ? dataDaily?.issue_card_func?.fail : 0}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Week</th> -->
                        <td style="padding: 1px;">{{dataDaily?.create_signature_func?.total ? dataDaily?.create_signature_func?.total : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.create_signature_func?.success ? dataDaily?.create_signature_func?.success : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.create_signature_func?.fail ? dataDaily?.create_signature_func?.fail : 0}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Month</th> -->
                        <td style="padding: 1px;">{{dataDaily?.request_econtract_func?.total ? dataDaily?.request_econtract_func?.total : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.request_econtract_func?.success ? dataDaily?.request_econtract_func?.success : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.request_econtract_func?.fail ? dataDaily?.request_econtract_func?.fail : 0}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Month</th> -->
                        <td style="padding: 1px;">{{dataDaily?.request_statement_func?.total ? dataDaily?.request_statement_func?.total : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.request_statement_func?.success ? dataDaily?.request_statement_func?.success : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.request_statement_func?.fail ? dataDaily?.request_statement_func?.fail : 0}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Month</th> -->
                        <td style="padding: 1px;">{{dataDaily?.cash_withdrawal_func?.total ? dataDaily?.cash_withdrawal_func?.total : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.cash_withdrawal_func?.success ? dataDaily?.cash_withdrawal_func?.success : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.cash_withdrawal_func?.fail ? dataDaily?.cash_withdrawal_func?.fail : 0}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Month</th> -->
                        <td style="padding: 1px;">{{dataDaily?.open_td_func?.total ? dataDaily?.open_td_func?.total : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.open_td_func?.success ? dataDaily?.open_td_func?.success : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.open_td_func?.fail ? dataDaily?.open_td_func?.fail : 0}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Month</th> -->
                        <td style="padding: 1px;">{{dataDaily?.closure_td_func?.total ? dataDaily?.closure_td_func?.total : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.closure_td_func?.success ? dataDaily?.closure_td_func?.success : 0}}</td>
                        <td style="padding: 1px;">{{dataDaily?.closure_td_func?.fail ? dataDaily?.closure_td_func?.fail : 0}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-step col-sm-3 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Week</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <!-- <th scope="col" style="padding: 1px;"></th> -->
                        <th scope="col" style="padding: 1px;">Total_Cust</th>
                        <th scope="col" style="padding: 1px;">Success</th>
                        <th scope="col" style="padding: 1px;">Failure</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Daily</th> -->
                        <td *ngIf="issueCardFunc.week.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="issueCardFunc.week.total !== 0" style="padding: 1px;">{{issueCardFunc.week.total}}</td>
                        <td *ngIf="issueCardFunc.week.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="issueCardFunc.week.success !== 0" style="padding: 1px;">{{issueCardFunc.week.success}}</td>
                        <td *ngIf="issueCardFunc.week.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="issueCardFunc.week.fail !== 0" style="padding: 1px;">{{issueCardFunc.week.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Week</th> -->
                        <td *ngIf="createSignatureFunc.week.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="createSignatureFunc.week.total !== 0" style="padding: 1px;">{{createSignatureFunc.week.total}}</td>
                        <td *ngIf="createSignatureFunc.week.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="createSignatureFunc.week.success !== 0" style="padding: 1px;">{{createSignatureFunc.week.success}}</td>
                        <td *ngIf="createSignatureFunc.week.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="createSignatureFunc.week.fail !== 0" style="padding: 1px;">{{createSignatureFunc.week.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Week</th> -->
                        <td *ngIf="requestContract.week.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestContract.week.total !== 0" style="padding: 1px;">{{requestContract.week.total}}</td>
                        <td *ngIf="requestContract.week.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestContract.week.success !== 0" style="padding: 1px;">{{requestContract.week.success}}</td>
                        <td *ngIf="requestContract.week.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestContract.week.fail !== 0" style="padding: 1px;">{{requestContract.week.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Week</th> -->
                        <td *ngIf="requestStatement.week.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestStatement.week.total !== 0" style="padding: 1px;">{{requestStatement.week.total}}</td>
                        <td *ngIf="requestStatement.week.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestStatement.week.success !== 0" style="padding: 1px;">{{requestStatement.week.success}}</td>
                        <td *ngIf="requestStatement.week.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestStatement.week.fail !== 0" style="padding: 1px;">{{requestStatement.week.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Week</th> -->
                        <td *ngIf="cashWithdrawal.week.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="cashWithdrawal.week.total !== 0" style="padding: 1px;">{{cashWithdrawal.week.total}}</td>
                        <td *ngIf="cashWithdrawal.week.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="cashWithdrawal.week.success !== 0" style="padding: 1px;">{{cashWithdrawal.week.success}}</td>
                        <td *ngIf="cashWithdrawal.week.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="cashWithdrawal.week.fail !== 0" style="padding: 1px;">{{cashWithdrawal.week.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Week</th> -->
                        <td *ngIf="openTd.week.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="openTd.week.total !== 0" style="padding: 1px;">{{openTd.week.total}}</td>
                        <td *ngIf="openTd.week.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="openTd.week.success !== 0" style="padding: 1px;">{{openTd.week.success}}</td>
                        <td *ngIf="openTd.week.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="openTd.week.fail !== 0" style="padding: 1px;">{{openTd.week.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Week</th> -->
                        <td *ngIf="closureTd.week.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="closureTd.week.total !== 0" style="padding: 1px;">{{closureTd.week.total}}</td>
                        <td *ngIf="closureTd.week.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="closureTd.week.success !== 0" style="padding: 1px;">{{closureTd.week.success}}</td>
                        <td *ngIf="closureTd.week.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="closureTd.week.fail !== 0" style="padding: 1px;">{{closureTd.week.fail}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-step col-sm-3 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Month</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <!-- <th scope="col" style="padding: 1px;"></th> -->
                        <th scope="col" style="padding: 1px;">Total_Cust</th>
                        <th scope="col" style="padding: 1px;">Success</th>
                        <th scope="col" style="padding: 1px;">Failure</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Daily</th> -->
                        <td *ngIf="issueCardFunc.month.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="issueCardFunc.month.total !== 0" style="padding: 1px;">{{issueCardFunc.month.total}}</td>
                        <td *ngIf="issueCardFunc.month.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="issueCardFunc.month.success !== 0" style="padding: 1px;">{{issueCardFunc.month.success}}</td>
                        <td *ngIf="issueCardFunc.month.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="issueCardFunc.month.fail !== 0" style="padding: 1px;">{{issueCardFunc.month.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">Week</th> -->
                        <td *ngIf="createSignatureFunc.month.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="createSignatureFunc.month.total !== 0" style="padding: 1px;">{{createSignatureFunc.month.total}}</td>
                        <td *ngIf="createSignatureFunc.month.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="createSignatureFunc.month.success !== 0" style="padding: 1px;">{{createSignatureFunc.month.success}}</td>
                        <td *ngIf="createSignatureFunc.month.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="createSignatureFunc.month.fail !== 0" style="padding: 1px;">{{createSignatureFunc.month.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">month</th> -->
                        <td *ngIf="requestContract.month.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestContract.month.total !== 0" style="padding: 1px;">{{requestContract.month.total}}</td>
                        <td *ngIf="requestContract.month.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestContract.month.success !== 0" style="padding: 1px;">{{requestContract.month.success}}</td>
                        <td *ngIf="requestContract.month.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestContract.month.fail !== 0" style="padding: 1px;">{{requestContract.month.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">month</th> -->
                        <td *ngIf="requestStatement.month.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestStatement.month.total !== 0" style="padding: 1px;">{{requestStatement.month.total}}</td>
                        <td *ngIf="requestStatement.month.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestStatement.month.success !== 0" style="padding: 1px;">{{requestStatement.month.success}}</td>
                        <td *ngIf="requestStatement.month.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="requestStatement.month.fail !== 0" style="padding: 1px;">{{requestStatement.month.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">month</th> -->
                        <td *ngIf="cashWithdrawal.month.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="cashWithdrawal.month.total !== 0" style="padding: 1px;">{{cashWithdrawal.month.total}}</td>
                        <td *ngIf="cashWithdrawal.month.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="cashWithdrawal.month.success !== 0" style="padding: 1px;">{{cashWithdrawal.month.success}}</td>
                        <td *ngIf="cashWithdrawal.month.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="cashWithdrawal.month.fail !== 0" style="padding: 1px;">{{cashWithdrawal.month.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">month</th> -->
                        <td *ngIf="openTd.month.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="openTd.month.total !== 0" style="padding: 1px;">{{openTd.month.total}}</td>
                        <td *ngIf="openTd.month.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="openTd.month.success !== 0" style="padding: 1px;">{{openTd.month.success}}</td>
                        <td *ngIf="openTd.month.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="openTd.month.fail !== 0" style="padding: 1px;">{{openTd.month.fail}}</td>
                      </tr>
                      <tr>
                        <!-- <th scope="row" style="padding: 1px;">month</th> -->
                        <td *ngIf="closureTd.month.total === 0" style="padding: 1px;">0</td>
                        <td *ngIf="closureTd.month.total !== 0" style="padding: 1px;">{{closureTd.month.total}}</td>
                        <td *ngIf="closureTd.month.success === 0" style="padding: 1px;">0</td>
                        <td *ngIf="closureTd.month.success !== 0" style="padding: 1px;">{{closureTd.month.success}}</td>
                        <td *ngIf="closureTd.month.fail === 0" style="padding: 1px;">0</td>
                        <td *ngIf="closureTd.month.fail !== 0" style="padding: 1px;">{{closureTd.month.fail}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
