<div class="card" style="border: 1px solid #000;">
  <div class="card-header" style="background-color: #f5f7fb; padding: 12px">
    <div class="col-xl-12 col-md-12 box-col-12 text-center">
      <h5>SYSTEM ERROR</h5>
    </div>
  </div>
  <div class="card-body" style="padding: 4px;">
    <div class="row">
      <div class="u-steps row">
        <div class="u-step col-sm-12 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Daily</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <th scope="col" style="padding: 1px;">#</th>
                        <th scope="col" style="padding: 1px;">Name</th>
                        <th scope="col" style="padding: 1px;">Total</th>
                        <th scope="col" style="padding: 1px;">EventCode</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">BackBase</td>
                        <td *ngIf="systemBackBase === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemBackBase !== 0" style="padding: 1px;">{{systemBackBase}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">CleverTab</td>
                        <td *ngIf="systemCleverTab === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemCleverTab !== 0" style="padding: 1px;">{{systemCleverTab}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">ESB</td>
                        <td *ngIf="systemESB === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemESB !== 0" style="padding: 1px;">{{systemESB}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">FPT_EContract</td>
                        <td *ngIf="systemFPT_EContract === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemFPT_EContract !== 0" style="padding: 1px;">{{systemFPT_EContract}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">Finacle</td>
                        <td *ngIf="systemFinacle === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemFinacle !== 0" style="padding: 1px;">{{systemFinacle}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">HyperVerge</td>
                        <td *ngIf="systemHyperVerge === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemHyperVerge !== 0" style="padding: 1px;">{{systemHyperVerge}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">Pega</td>
                        <td *ngIf="systemPega === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemPega !== 0" style="padding: 1px;">{{systemPega}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">PegaCrm</td>
                        <td *ngIf="systemPegaCrm === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemPegaCrm !== 0" style="padding: 1px;">{{systemPegaCrm}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">PegaLos</td>
                        <td *ngIf="systemPegaLos === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemPegaLos !== 0" style="padding: 1px;">{{systemPegaLos}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">Robo</td>
                        <td *ngIf="systemRobo === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemRobo !== 0" style="padding: 1px;">{{systemRobo}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">SmsGateWay</td>
                        <td *ngIf="systemSmsGateWay === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemSmsGateWay !== 0" style="padding: 1px;">{{systemSmsGateWay}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">Taseco</td>
                        <td *ngIf="systemTaseco === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemTaseco !== 0" style="padding: 1px;">{{systemTaseco}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">Tutuka</td>
                        <td *ngIf="systemTutuka === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemTutuka !== 0" style="padding: 1px;">{{systemTutuka}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">Ubit</td>
                        <td *ngIf="systemUbit === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemUbit !== 0" style="padding: 1px;">{{systemUbit}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">VietQR</td>
                        <td *ngIf="systemVietQR === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemVietQR !== 0" style="padding: 1px;">{{systemVietQR}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">Vymo</td>
                        <td *ngIf="systemVymo === 0" style="padding: 1px;">0</td>
                        <td *ngIf="systemVymo !== 0" style="padding: 1px;">{{systemVymo}}</td>
                        <td style="padding: 1px;"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="u-steps row">
        <div class="u-step col-sm-6 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Week</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <th scope="col" style="padding: 1px;">#</th>
                        <th scope="col" style="padding: 1px;">Name</th>
                        <th scope="col" style="padding: 1px;">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">System 1</td>
                        <td style="padding: 1px;">100</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="u-step col-sm-6 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Month</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <th scope="col" style="padding: 1px;">#</th>
                        <th scope="col" style="padding: 1px;">Name</th>
                        <th scope="col" style="padding: 1px;">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" style="padding: 1px;">1</th>
                        <td style="padding: 1px;">System 1</td>
                        <td style="padding: 1px;">100</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>