<div class="card" style="border: 1px solid #000;">
  <div class="card-header" style="background-color: #f5f7fb; padding: 12px">
    <div class="col-xl-12 col-md-12 box-col-12 text-center">
      <h5>SYSTEM ERROR</h5>
    </div>
  </div>
  <div class="card-body" style="padding: 4px;">
    <div class="row">
      <div class="u-steps row">
        <div class="u-step col-sm-4 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Today</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <!-- <th scope="col" style="padding: 1px;">#</th> -->
                        <th scope="col" style="padding: 1px;">Name</th>
                        <th scope="col" style="padding: 1px;">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of arrSystemErrorsDailyCopy.slice(0,10); let i = index">
                        <!-- <th scope="row" style="padding: 1px;">{{i+1}}</th> -->
                        <td style="padding: 1px;">{{arrSystemErrorsDailyCopy[i].name}}</td>
                        <td style="padding: 1px;">{{arrSystemErrorsDailyCopy[i].value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="u-step col-sm-4 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Week</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <!-- <th scope="col" style="padding: 1px;">#</th> -->
                        <th scope="col" style="padding: 1px;">Name</th>
                        <th scope="col" style="padding: 1px;">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of arrSystemErrorsWeekCopy.slice(0,10); let i = index">
                        <!-- <th scope="row" style="padding: 1px;">{{i+1}}</th> -->
                        <td style="padding: 1px;">{{arrSystemErrorsWeekCopy[i].name}}</td>
                        <td style="padding: 1px;">{{arrSystemErrorsWeekCopy[i].value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="u-step col-sm-4 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Month</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <!-- <th scope="col" style="padding: 1px;">#</th> -->
                        <th scope="col" style="padding: 1px;">Name</th>
                        <th scope="col" style="padding: 1px;">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of arrSystemErrorsMonthCopy.slice(0,10); let i = index">
                        <!-- <th scope="row" style="padding: 1px;">{{i+1}}</th> -->
                        <td style="padding: 1px;">{{arrSystemErrorsMonthCopy[i].name}}</td>
                        <td style="padding: 1px;">{{arrSystemErrorsMonthCopy[i].value}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="u-steps row">
        <div class="u-step col-sm-12 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">Critical Error</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <!-- <th scope="col" style="padding: 1px;">#</th> -->
                        <!-- <th scope="col" style="padding: 1px;">Name</th> -->
                        <!-- <th scope="col" style="padding: 1px;">Event Code</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of arrCriticalErrors; let i = index">
                        <!-- <th scope="row" style="padding: 1px;">{{i+1}}</th> -->
                        <td style="padding: 1px;">{{arrCriticalErrors[i]}}</td>
                        <!-- <td style="padding: 1px;">{{arrSystemErrorsMonth[i].value}}</td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>