<!-- page-wrapper Start-->
<div class="page-wrapper row compact-wrapper compact-sidebar" id="pageWrapper">
  <div class="page-wrapper row compact-wrapper compact-sidebar sidebar-icon mx-0 mt-2">
      <!-- Page Sidebar Start-->
      <header class="main-nav close_icon"></header>
      <!-- Page Sidebar Ends-->
      <div class="page-body" style="padding: 0px;">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
          <div class="row">
            <app-onboarding></app-onboarding>
          </div>

          <div class="row mt-2">
            <div class="col-xl-5 box-col-12 des-xl-100 invoice-sec">
              <app-system-error></app-system-error>
            </div>

            <div class="col-xl-7 box-col-12 des-xl-100 invoice-sec">
              <div class="row">
                <div class="col-xl-12 box-col-12 des-xl-100 invoice-sec">
                  <app-transactions></app-transactions>
                </div>

                <div class="col-xl-12 box-col-12 des-xl-100 invoice-sec mt-2">
                  <app-functionals></app-functionals>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
