<div class="col-xl-12 box-col-12 des-xl-100 invoice-sec">
  <div class="card" style="border: 1px solid #000;">
    <div class="card-header" style="background-color: #f5f7fb; padding: 8px">
      <div class="row align-items-center text-center">
        <div class="col-xl-2 col-sm-12 col-sm-12">
          <h5>ONBOARDING</h5>
        </div>
        <div class="col-xl-10 col-sm-12 col-sm-12">
          <div class="row">
            <div class="col-xl-4 col-sm-6 col-sm-12">
              <div class="card browser-widget">
                <h5 class="mx-2 mt-1" style="font-size: 16px;">NEW CUSTOMERS</h5>
                <div class="media card-body" style="padding: 0px;">
                  <div class="media-body align-self-center">
                    <div>
                      <p style="font-size: 16px; font-weight: 1000;">Daily </p> 
                      <p *ngIf="userAttending.length === 0" style="font-size: 16px;"><span class="counter" style="font-weight: 800;">0</span></p>
                      <p *ngIf="userAttending.length !== 0" style="font-size: 16px;"><span class="counter" style="font-weight: 800;">{{userAttending.length}}</span></p>
                    </div>
                    <div>
                      <p style="font-size: 16px;">Month </p>
                      <p style="font-size: 16px;"><span class="counter">0</span></p>
                    </div>
                    <div>
                      <p style="font-size: 16px;">Week </p>
                      <p style="font-size: 16px;"><span class="counter">0</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xl-4 col-sm-6 col-sm-12">
              <div class="card browser-widget">
                <h5 class="mx-2 mt-1" style="font-size: 16px;">PASS ONBOARDING</h5>
                <div class="media card-body" style="padding: 0px;">
                  <div class="media-body align-self-center">
                    <div>
                      <p style="font-size: 16px; font-weight: 1000;">Daily </p>
                      <p *ngIf="userPassOnboarding.length === 0" style="font-size: 16px;"><span class="counter" style="font-weight: 800;">0</span></p>
                      <p *ngIf="userPassOnboarding.length !== 0" style="font-size: 16px;"><span class="counter" style="font-weight: 800;">{{userPassOnboarding.length}}</span></p>
                    </div>
                    <div>
                      <p style="font-size: 16px;">Month </p>
                      <p style="font-size: 16px;"><span class="counter">0</span></p>
                    </div>
                    <div>
                      <p style="font-size: 16px;">Week </p>
                      <p style="font-size: 16px;"><span class="counter">0</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" style="padding: 4px;">
      <!-- <div class="row"> -->
        <div class="u-steps row">
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">1</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">CHECK CUST PHONE</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td *ngIf="checkCustPhone.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkCustPhone.length !== 0" style="padding: 1px;">{{checkCustPhone[0].detailCustomers.length}}</td>
                          <td *ngIf="checkCustPhone.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkCustPhone.length !== 0" style="padding: 1px;">{{checkCustPhone[0].daily.success}}</td>
                          <td *ngIf="checkCustPhone.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkCustPhone.length !== 0" style="padding: 1px;">{{checkCustPhone[0].daily.failure}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">2</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">SUBMIT EKYC</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td *ngIf="submitEKYC.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="submitEKYC.length !== 0" style="padding: 1px;">{{submitEKYC[0].detailCustomers.length}}</td>
                          <td *ngIf="submitEKYC.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="submitEKYC.length !== 0" style="padding: 1px;">{{submitEKYC[0].daily.success}}</td>
                          <td *ngIf="submitEKYC.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="submitEKYC.length !== 0" style="padding: 1px;">{{submitEKYC[0].daily.failure}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">3</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">CHECK KYC STATUS</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td *ngIf="checkKYCStatus.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkKYCStatus.length !== 0" style="padding: 1px;">{{checkKYCStatus[0].detailCustomers.length}}</td>
                          <td *ngIf="checkKYCStatus.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkKYCStatus.length !== 0" style="padding: 1px;">{{checkKYCStatus[0].daily.success}}</td>
                          <td *ngIf="checkKYCStatus.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkKYCStatus.length !== 0" style="padding: 1px;">{{checkKYCStatus[0].daily.failure}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">4</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">VIDEO STATEMENT</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td *ngIf="videoStatement.length === 0" style="padding: 1px;">#</td>
                          <td *ngIf="videoStatement.length !== 0" style="padding: 1px;">#</td>
                          <td *ngIf="videoStatement.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="videoStatement.length !== 0" style="padding: 1px;">{{videoStatement[0].daily.success}}</td>
                          <td *ngIf="videoStatement.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="videoStatement.length !== 0" style="padding: 1px;">{{videoStatement[0].daily.failure}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">5</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">FACE MATCH</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td *ngIf="faceMatch.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="faceMatch.length !== 0" style="padding: 1px;">{{faceMatch[0].daily.length}}</td>
                          <td *ngIf="faceMatch.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="faceMatch.length !== 0" style="padding: 1px;">{{faceMatch[0].daily.success}}</td>
                          <td *ngIf="faceMatch.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="faceMatch.length !== 0" style="padding: 1px;">{{faceMatch[0].daily.failure}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">6</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">GET CONTRACT</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td *ngIf="getContract.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="getContract.length !== 0" style="padding: 1px;">{{getContract[0].detailCustomers.length}}</td>
                          <td *ngIf="getContract.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="getContract.length !== 0" style="padding: 1px;">{{getContract[0].daily.success}}</td>
                          <td *ngIf="getContract.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="getContract.length !== 0" style="padding: 1px;">{{getContract[0].daily.failure}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">7</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">SIGN CONTRACT</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td *ngIf="signContract.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="signContract.length !== 0" style="padding: 1px;">{{signContract[0].detailCustomers.length}}</td>
                          <td *ngIf="signContract.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="signContract.length !== 0" style="padding: 1px;">{{signContract[0].daily.success}}</td>
                          <td *ngIf="signContract.length === 0" style="padding: 1px;">0</td>
                          <td *ngIf="signContract.length !== 0" style="padding: 1px;">{{signContract[0].daily.failure}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td style="padding: 1px;">100</td>
                          <td style="padding: 1px;">50</td>
                          <td style="padding: 1px;">50</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>