<div class="col-xl-12 box-col-12 des-xl-100 invoice-sec">
  <div class="card" style="border: 1px solid #000;">
    <div class="card-header" style="background-color: #f5f7fb; padding: 8px">
      <div class="row align-items-center text-center">
        <div class="col-xl-2 col-sm-12 col-sm-12">
          <h5>ONBOARDING</h5>
        </div>
        <div class="col-xl-10 col-sm-12 col-sm-12">
          <div class="row">
            <div class="col-xl-4 col-sm-6 col-sm-12">
              <div class="card browser-widget">
                <h5 class="mx-2 mt-1" style="font-size: 16px;">NEW CUSTOMERS</h5>
                <div class="media card-body" style="padding: 0px;">
                  <div class="media-body align-self-center">
                    <div>
                      <p style="font-size: 16px; font-weight: 1000;">Daily </p> 
                      <p style="font-size: 16px;"><span class="counter">0</span></p>
                    </div>
                    <div>
                      <p style="font-size: 16px;">Week </p>
                      <p *ngIf="attending.week === 0" style="font-size: 16px;"><span class="counter">0</span></p>
                      <p *ngIf="attending.week !== 0" style="font-size: 16px;"><span class="counter">{{attending.week}}</span></p>
                    </div>
                    <div>
                      <p style="font-size: 16px;">Month </p>
                      <p *ngIf="attending.month === 0" style="font-size: 16px;"><span class="counter">0</span></p>
                      <p *ngIf="attending.month !== 0" style="font-size: 16px;"><span class="counter">{{attending.month}}</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xl-4 col-sm-6 col-sm-12">
              <div class="card browser-widget">
                <h5 class="mx-2 mt-1" style="font-size: 16px;">PASS ONBOARDING</h5>
                <div class="media card-body" style="padding: 0px;">
                  <div class="media-body align-self-center">
                    <div>
                      <p style="font-size: 16px; font-weight: 1000;">Daily </p>
                      <p style="font-size: 16px;"><span class="counter">0</span></p>
                    </div>
                    <div>
                      <p style="font-size: 16px;">Week </p>
                      <p *ngIf="passOnboarding.week === 0" style="font-size: 16px;"><span class="counter">0</span></p>
                      <p *ngIf="passOnboarding.week !== 0" style="font-size: 16px;"><span class="counter">{{passOnboarding.week}}</span></p>
                    </div>
                    <div>
                      <p style="font-size: 16px;">Month </p>
                      <p *ngIf="passOnboarding.month === 0" style="font-size: 16px;"><span class="counter">0</span></p>
                      <p *ngIf="passOnboarding.month !== 0" style="font-size: 16px;"><span class="counter">{{passOnboarding.month}}</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" style="padding: 4px;">
      <!-- <div class="row"> -->
        <div class="u-steps row">
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">1</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">CHECK CUST PHONE</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td *ngIf="checkCustPhone.week.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkCustPhone.week.total !== 0" style="padding: 1px;">{{checkCustPhone.week.total}}</td>
                          <td *ngIf="checkCustPhone.week.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkCustPhone.week.success !== 0" style="padding: 1px;">{{checkCustPhone.week.success}}</td>
                          <td *ngIf="checkCustPhone.week.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkCustPhone.week.fail !== 0" style="padding: 1px;">{{checkCustPhone.week.fail}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td *ngIf="checkCustPhone.month.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkCustPhone.month.total !== 0" style="padding: 1px;">{{checkCustPhone.month.total}}</td>
                          <td *ngIf="checkCustPhone.month.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkCustPhone.month.success !== 0" style="padding: 1px;">{{checkCustPhone.month.success}}</td>
                          <td *ngIf="checkCustPhone.month.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkCustPhone.month.fail !== 0" style="padding: 1px;">{{checkCustPhone.month.fail}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">2</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">SUBMIT EKYC</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td *ngIf="submitEKYC.week.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="submitEKYC.week.total !== 0" style="padding: 1px;">{{submitEKYC.week.total}}</td>
                          <td *ngIf="submitEKYC.week.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="submitEKYC.week.success !== 0" style="padding: 1px;">{{submitEKYC.week.success}}</td>
                          <td *ngIf="submitEKYC.week.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="submitEKYC.week.fail !== 0" style="padding: 1px;">{{submitEKYC.week.fail}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td *ngIf="submitEKYC.month.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="submitEKYC.month.total !== 0" style="padding: 1px;">{{submitEKYC.month.total}}</td>
                          <td *ngIf="submitEKYC.month.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="submitEKYC.month.success !== 0" style="padding: 1px;">{{submitEKYC.month.success}}</td>
                          <td *ngIf="submitEKYC.month.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="submitEKYC.month.fail !== 0" style="padding: 1px;">{{submitEKYC.month.fail}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">3</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">CHECK KYC STATUS</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td *ngIf="checkKYCStatus.week.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkKYCStatus.week.total !== 0" style="padding: 1px;">{{checkKYCStatus.week.total}}</td>
                          <td *ngIf="checkKYCStatus.week.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkKYCStatus.week.success !== 0" style="padding: 1px;">{{checkKYCStatus.week.success}}</td>
                          <td *ngIf="checkKYCStatus.week.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkKYCStatus.week.fail !== 0" style="padding: 1px;">{{checkKYCStatus.week.fail}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td *ngIf="checkKYCStatus.month.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkKYCStatus.month.total !== 0" style="padding: 1px;">{{checkKYCStatus.month.total}}</td>
                          <td *ngIf="checkKYCStatus.month.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkKYCStatus.month.success !== 0" style="padding: 1px;">{{checkKYCStatus.month.success}}</td>
                          <td *ngIf="checkKYCStatus.month.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="checkKYCStatus.month.fail !== 0" style="padding: 1px;">{{checkKYCStatus.month.fail}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">4</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">VIDEO STATEMENT</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td *ngIf="videoStatement.week.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="videoStatement.week.total !== 0" style="padding: 1px;">{{videoStatement.week.total}}</td>
                          <td *ngIf="videoStatement.week.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="videoStatement.week.success !== 0" style="padding: 1px;">{{videoStatement.week.success}}</td>
                          <td *ngIf="videoStatement.week.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="videoStatement.week.fail !== 0" style="padding: 1px;">{{videoStatement.week.fail}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td *ngIf="videoStatement.month.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="videoStatement.month.total !== 0" style="padding: 1px;">{{videoStatement.month.total}}</td>
                          <td *ngIf="videoStatement.month.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="videoStatement.month.success !== 0" style="padding: 1px;">{{videoStatement.month.success}}</td>
                          <td *ngIf="videoStatement.month.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="videoStatement.month.fail !== 0" style="padding: 1px;">{{videoStatement.month.fail}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">5</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">FACE MATCH</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td *ngIf="faceMatch.week.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="faceMatch.week.total !== 0" style="padding: 1px;">{{faceMatch.week.total}}</td>
                          <td *ngIf="faceMatch.week.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="faceMatch.week.success !== 0" style="padding: 1px;">{{faceMatch.week.success}}</td>
                          <td *ngIf="faceMatch.week.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="faceMatch.week.fail !== 0" style="padding: 1px;">{{faceMatch.week.fail}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td *ngIf="faceMatch.month.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="faceMatch.month.total !== 0" style="padding: 1px;">{{faceMatch.month.total}}</td>
                          <td *ngIf="faceMatch.month.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="faceMatch.month.success !== 0" style="padding: 1px;">{{faceMatch.month.success}}</td>
                          <td *ngIf="faceMatch.month.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="faceMatch.month.fail !== 0" style="padding: 1px;">{{faceMatch.month.fail}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">6</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">GET CONTRACT</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td *ngIf="getContract.week.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="getContract.week.total !== 0" style="padding: 1px;">{{getContract.week.total}}</td>
                          <td *ngIf="getContract.week.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="getContract.week.success !== 0" style="padding: 1px;">{{getContract.week.success}}</td>
                          <td *ngIf="getContract.week.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="getContract.week.fail !== 0" style="padding: 1px;">{{getContract.week.fail}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td *ngIf="getContract.month.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="getContract.month.total !== 0" style="padding: 1px;">{{getContract.month.total}}</td>
                          <td *ngIf="getContract.month.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="getContract.month.success !== 0" style="padding: 1px;">{{getContract.month.success}}</td>
                          <td *ngIf="getContract.month.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="getContract.month.fail !== 0" style="padding: 1px;">{{getContract.month.fail}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-step col-sm-3" style="padding: 12px 2px;"><span class="u-step-number">7</span>
            <div class="u-step-desc"><span class="u-step-title" style="font-size: 16px;">SIGN CONTRACT</span>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table table-xs text-center">
                      <thead>
                        <tr>
                          <th scope="col" style="padding: 1px;"></th>
                          <th scope="col" style="padding: 1px;">Total</th>
                          <th scope="col" style="padding: 1px;">Success</th>
                          <th scope="col" style="padding: 1px;">Failure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" style="padding: 1px;">Daily</th>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                          <td style="padding: 1px;">0</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Week</th>
                          <td *ngIf="signContract.week.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="signContract.week.total !== 0" style="padding: 1px;">{{signContract.week.total}}</td>
                          <td *ngIf="signContract.week.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="signContract.week.success !== 0" style="padding: 1px;">{{signContract.week.success}}</td>
                          <td *ngIf="signContract.week.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="signContract.week.fail !== 0" style="padding: 1px;">{{signContract.week.fail}}</td>
                        </tr>
                        <tr>
                          <th scope="row" style="padding: 1px;">Month</th>
                          <td *ngIf="signContract.month.total === 0" style="padding: 1px;">0</td>
                          <td *ngIf="signContract.month.total !== 0" style="padding: 1px;">{{signContract.month.total}}</td>
                          <td *ngIf="signContract.month.success === 0" style="padding: 1px;">0</td>
                          <td *ngIf="signContract.month.success !== 0" style="padding: 1px;">{{signContract.month.success}}</td>
                          <td *ngIf="signContract.month.fail === 0" style="padding: 1px;">0</td>
                          <td *ngIf="signContract.month.fail !== 0" style="padding: 1px;">{{signContract.month.fail}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>