<div class="card" style="border: 1px solid #000;">
  <div class="card-header" style="background-color: #f5f7fb; padding: 12px">
    <div class="col-xl-12 col-md-12 box-col-12 text-center">
      <h5>TRANSACTIONS</h5>
    </div>
  </div>
  <div class="card-body" style="padding: 4px;">
    <div class="row">
      <div class="u-steps row">
        <div class="u-step col-sm-12 text-center" style="padding: 0px 0px;">
          <div class="u-step-desc text-center"><span class="u-step-title" style="font-size: 16px;">NAPAS</span>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="table-responsive">
                  <table class="table table-xs">
                    <thead>
                      <tr>
                        <th scope="col" style="padding: 1px;"></th>
                        <th style="padding: 1px;">Daily</th>
                        <th style="padding: 1px;">Week</th>
                        <th style="padding: 1px;">Month</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <button class="btn btn-dark">CREDIT</button>
                        </td>
                        <td>
                          <button class="btn btn-light">100</button>
                          <button class="btn btn-success mx-2">50</button>
                          <button class="btn btn-danger">50</button>
                        </td>
                        <td>
                          <button class="btn btn-light">100</button>
                          <button class="btn btn-success mx-2">50</button>
                          <button class="btn btn-danger">50</button>
                        </td>
                        <td>
                          <button class="btn btn-light">100</button>
                          <button class="btn btn-success mx-2">50</button>
                          <button class="btn btn-danger">50</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>